<section data-ng-controller="MusicController" data-ng-init="findOne()">

 <div class="col-sm-6">
                
        
                 <div class="panel panel-default">
                   <div class="panel-heading">
                    <small class="pull-right">
                      <em class="text-muted">
                        Posted on
                        <span data-ng-bind="music.created | date:'mediumDate'"></span>
                        by
                        <span data-ng-bind="music.user.displayName"></span>
                      </em>
                    </small>
                    <h4>{{music.name}}</h4></div>
                    <div class="panel-body">

                      <audio controls>                        
                        
                        <source src="{{music.url}}" type="audio/mpeg">
                        <source src="{{music.url}}" type="audio/ogg">      
                        <!-- <source src="http://localhost:3000/uploads/ACDC_-_Back_In_Black-sample.ogg" type="audio/ogg"> -->
                        <!-- <source src="http://localhost:3000/uploads/01 - Overture.mp3" type="audio/mpeg"> -->                     

                      </audio>



                      <!-- <videogular vg-theme="config.theme.url" class="videogular-container audio">
                          <vg-media vg-src="config.sources" vg-type="audio"></vg-media>

                          <vg-controls>
                              <vg-play-pause-button></vg-play-pause-button>
                              <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                              <vg-scrub-bar>
                                  <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                              </vg-scrub-bar>
                              <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                              <vg-volume>
                                  <vg-mute-button></vg-mute-button>
                              </vg-volume>
                          </vg-controls>
                      </videogular> -->

                      <hr>
                      <div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == music.user._id))">
                      <a class="btn btn-primary" href="/#!/music/{{music._id}}/edit">
                        <i class="glyphicon glyphicon-edit"></i>
                      </a>
                      <a class="btn btn-primary" data-ng-click="remove();">
                        <i class="glyphicon glyphicon-trash"></i>
                      </a>
                      <a class="btn btn-primary" href="{{music.url}}" download>
                        <i class="glyphicon glyphicon-download"></i>
                      </a>
                    </div>
                      
                    </div><!--/panel-body-->
                 </div><!--/panel-->

                 <div class="panel panel-default" ng-repeat="comment in music.comments">
                   <div class="panel-heading">
                    <small class="pull-right">
                      <em class="text-muted">
                        Posted on
                        <span data-ng-bind="comment.created | date:'mediumDate'"></span>
                        
                      </em>
                    </small> 
                    <img src="{{comment.userimage}}" width="50px" height="50px">
                    <h4>
                        <span data-ng-bind="comment.user"></span></h4></div>
                    <div class="panel-body">
                      
                      <div class="clearfix"></div>
                      <hr>
                      {{comment.comment}}
                      <hr>
                     
                    </div><!--/panel-body-->
                 </div><!--/panel-->

                 <div class="well"> 
                     <form class="form-horizontal" role="form">
                      <h4>Add Comment</h4>
                       <div class="form-group" style="padding:14px;">
                        <textarea class="form-control" ng-model="comment" placeholder="Add your comments here"></textarea>
                      </div>
                      <div class="form-group">
                         <button class="btn btn-success pull-right" ng-click="addcomment()" type="button">Post</button>
                      </div>
                     
                    </form>
                </div><!--/well-->
	
</section>


  